<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Lista de cargos</h1>
            </div>
            <div class="col-12 mb-3">
                <div class="row ">
                    <div class="col-4 text-center"><a class="btn btn-outline-info" href="/newCargo">Agregar</a></div>
                    <div class="col-4 text-center"><a class="btn btn-outline-info" href="/updateCargo">Actualizar cargo</a></div>
                    <div class="col-4 text-center">
                        <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" href="#eliminarCargo">Borrar</button>
                        <div class="col-12 collapse mt-2" id="eliminarCargo">
                            
                        </div>
                    </div>
                 
                    
                    
                    
                    <div class="col-12"></div>
                    <div class="col-12"></div>
                </div>
            </div>
            <div class="col-12">
                <table   class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>       
                    <tbody th:each = "cargos : ${allcargo}">
                        <tr>
                            <td th:text="${cargos.codigo}"></td>
                            <td th:text="${cargos.nombre}"></td>
                            <td th:text="${cargos.descripcion}"></td>
                            <td th:text="${cargos.estado}"></td>
<!--                            @{cargos/elicargo/{id}(id=${cargos.codigo})}-->
                            <td>
                                <div class="row">
                                    <div class="col-3">
                                        <form th:action="@{/cargos/elicargo/{id}(id=${cargos.codigo})}" th:method="get" >
                                            <button type="submit" class="btn btn-danger">Eliminar cargo</button>
                                        </form>
                                    </div>
                                    <div class="col-3">
                                        <a th:href="@{/updateCargo/{id}(id=${cargos.codigo})}" class="btn btn-info">Editar</a>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <a class="btn btn-info" href="/">Atras</a>
            </div>
        </div>
       
    </div>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>