<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Lista de Proveedores</h1>
            </div>
            <div class="col-12 mb-3">
                <div class="row ">
                    <div class="col-12 text-center"><a class="btn btn-outline-info" href="/newProveedor">Agregar nuevo empleado</a></div>
                      
                </div>
            </div>
            <div class="col-12">
                <table   class="table table-bordered table-striped table-responsive table-sm">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Correo</th>
                            <th>Estado</th>
                        </tr>
                    </thead>       
                    <tbody th:each = "prov : ${lProveedor}">
                        <tr>
                            <td th:text="${prov.id}"></td>
                            <td th:text="${prov.nombre}"></td>
                            <td th:text="${prov.telefono}"></td>
                            <td th:text="${prov.direccion}"></td>
                            <td th:text="${prov.correo}"></td>
                            <td th:text="${prov.estado}"></td>
<!--                            @{cargos/elicargo/{id}(id=${cargos.codigo})}-->
                            <td>
                                <div class="row w-100">
                                    <div class="col-6 h-25">
                                        <form th:action="@{/proveedores/eliProveedor/{id}(id=${prov.id})}" th:method="get"  >
                                            <button type="submit" class="btn btn-danger ">Eliminar</button>
                                        </form>
                                    </div>
                                    <div class="col-6 h-50">
                                        <a th:href="@{/updateProveedor/{id}(id=${prov.id})}" class="btn btn-info">Editar</a>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <a class="btn btn-info" href="/">Atras</a>
            </div>
        </div>
       
    </div>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>